In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from statsmodels.tsa.arima.model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
plt.rcParams["figure.figsize"] = (15,10)
import os

In [2]:
from arima import Arima_model

In [3]:
from mad import MAD_model

In [4]:
os.chdir(os.getcwd())
from ensemble_model import Ensemble

In [5]:
os.chdir('/Users/tatum/Documents/GitHub/anomaly_detection_playgound/data/charlie-data')

In [6]:
train_data=['40_40_5000_a.csv', '40_40_5000_b.csv', '40_40_5000_c.csv','40_40_5000_d.csv', '40_40_5000_e.csv','40_40_5000_m.csv','40_5000_160_1250_a.csv', '40_40_5000_f.csv', '40_40_5000_g.csv', '40_5000_160_1250_b.csv','40_40_5000_h.csv', '40_40_5000_i.csv', '40_5000_160_1250_c.csv', '40_40_5000_j.csv', '40_5000_160_1250_d.csv','40_40_5000_k.csv','40_40_5000_l.csv', '40_5000_160_1250_e.csv']
test_data = ['40_40_5000_n.csv','40_40_5000_o.csv','40_5000_320_1250_b.csv','40_40_5000_p.csv','40_40_5000_q.csv','40_40_5000_r.csv','40_5000_320_500_a.csv',
            '40_40_5000_s.csv','40_5000_320_1250_c.csv', '40_5000_320_1250_a.csv','40_5000_320_500_b.csv','40_5000_320_500_c.csv']

In [7]:
from etl import aggregate_data

In [8]:
df_agg, df = aggregate_data(train_data, 20)

In [9]:
df_a = pd.DataFrame(df_agg)

In [10]:
arima = Arima_model((3,0,2), .01, 75)

In [11]:
df_a

    total_pkts                   label
0       2161.1        40_40_5000_a.csv
1      2201.75        40_40_5000_a.csv
2      1664.05        40_40_5000_a.csv
3       2215.9        40_40_5000_a.csv
4       2472.1        40_40_5000_a.csv
..         ...                     ...
256      816.5  40_5000_160_1250_e.csv
257     765.95  40_5000_160_1250_e.csv
258     609.65  40_5000_160_1250_e.csv
259        527  40_5000_160_1250_e.csv
260     865.45  40_5000_160_1250_e.csv

[261 rows x 2 columns]

In [12]:
df

,Time,IP1,Port1,IP2,Port2,Proto,1->2Bytes,2->1Bytes,1->2Pkts,2->1Pkts,packet_times,packet_sizes,packet_dirs,total_pkts,label
0,1643567305,172.19.0.3,53806,172.18.0.2,5001,6,2832000,38844,1888,747,1643567305000;1643567305000;1643567305000;1643...,52;1500;1500;52;1500;1500;52;1500;1500;1500;52...,2;1;1;2;1;1;2;1;1;1;2;1;1;2;1;1;2;1;1;1;1;2;1;...,2635.0,40_40_5000_a.csv
1,1643567306,172.19.0.3,53806,172.18.0.2,5001,6,2826000,38272,1884,736,1643567306019;1643567306020;1643567306020;1643...,52;1500;1500;1500;1500;1500;1500;52;1500;1500;...,2;1;1;1;1;1;1;2;1;1;2;1;2;1;1;2;1;1;2;1;1;2;1;...,2620.0,40_40_5000_a.csv
2,1643567307,172.19.0.3,53806,172.18.0.2,5001,6,2844000,38428,1896,739,1643567307003;1643567307003;1643567307003;1643...,52;1500;1500;52;1500;1500;52;1500;1500;1500;15...,2;1;1;2;1;1;2;1;1;1;1;2;1;1;2;1;1;1;1;2;1;2;1;...,2635.0,40_40_5000_a.csv
3,1643567308,172.19.0.3,53806,172.18.0.2,5001,6,2502000,33136,1668,631,1643567308005;1643567308005;1643567308005;1643...,52;1500;1500;1500;1500;52;1500;1500;52;1500;15...,2;1;1;1;1;2;1;1;2;1;1;1;2;1;1;2;1;1;2;1;1;2;1;...,2299.0,40_40_5000_a.csv
4,1643567309,172.19.0.3,53806,172.18.0.2,5001,6,2388000,34216,1592,658,1643567309000;1643567309000;1643567309000;1643...,52;1500;1500;52;1500;1500;52;1500;1500;1500;52...,2;1;1;2;1;1;2;1;1;1;2;1;1;2;1;1;2;1;1;2;1;1;1;...,2250.0,40_40_5000_a.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5215,1643866485,172.24.0.3,46640,172.22.0.2,5001,6,456000,7616,304,137,1643866485002;1643866485002;1643866485002;1643...,52;1500;1500;52;1500;1500;52;1500;1500;1500;15...,2;1;1;2;1;1;2;1;1;1;1;2;1;1;2;1;1;2;1;1;1;1;2;...,674.0,40_5000_160_1250_e.csv
5216,1643866486,172.24.0.3,46640,172.22.0.2,5001,6,382500,6508,255,124,1643866486039;1643866486039;1643866486043;1643...,64;1500;64;1500;1500;64;1500;1500;64;1500;1500...,2;1;2;1;1;2;1;1;2;1;1;2;1;1;2;1;1;2;1;2;2;1;1;...,651.0,40_5000_160_1250_e.csv
5217,1643866487,172.24.0.3,46640,172.22.0.2,5001,6,457500,7280,305,140,1643866487010;1643866487010;1643866487010;1643...,52;1500;1500;52;1500;1500;52;1500;1500;52;1500...,2;1;1;2;1;1;2;1;1;2;1;1;2;1;1;2;1;1;2;1;1;2;1;...,699.0,40_5000_160_1250_e.csv
5218,1643866488,172.24.0.3,46640,172.22.0.2,5001,6,499500,7644,333,147,1643866488001;1643866488001;1643866488001;1643...,52;1500;1500;52;1500;1500;52;1500;1500;52;1500...,2;1;1;2;1;1;2;1;1;2;1;1;1;1;2;1;1;2;1;1;2;1;1;...,747.0,40_5000_160_1250_e.csv
5219,1643866489,172.24.0.3,46640,172.22.0.2,5001,6,378000,8252,252,140,1643866489015;1643866489015;1643866489015;1643...,52;1500;1500;52;1500;1500;52;1500;1500;52;1500...,2;1;1;2;1;1;2;1;1;2;1;1;1;1;2;1;1;2;1;1;1;1;2;...,747.0,40_5000_160_1250_e.csv

In [13]:
ensemble = Ensemble()
ensemble.anomaly_ensemble(train_data, 20)

/Users/tatum/Documents/GitHub/anomaly_detection_playgound/src/mad.py:40: RuntimeWarning: divide by zero encountered in true_divide
  dm = dm + [np.sum((subset-m))/self.window]

(5200,)
(5200, 20)

ValueError: operands could not be broadcast together with shapes (5200,) (5200,20)

In [ ]:
np.log(df_a.total_pkts.astype(float))

In [ ]:
df_a.total_pkts

In [15]:
mad = MAD_model(30)

In [16]:
mad.rolling_stats(np.array(df.total_pkts))

(5190,)
(5190, 30)

ValueError: operands could not be broadcast together with shapes (5190,) (5190,30)